.friends_item {
    width: 50px;
    cursor: pointer;
    transition: all 0.2s;
}

.friends_avatar {
    height: 35px;
}

.friends_avatar img {
    margin: 0;
    margin-left: 7px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: 1px solid white;
}

.friends_name {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 3px;
}

