.menu {
    grid-area: menu;
    background-color: rgb(15, 95, 201);
}
.menu a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-weight: bold;
    transition: all 0.4s;
    padding-top: 5px;
    padding-right: 7px;
    padding-left: 5px;
}

.menu a:hover {
    color:black;
}

.menu a.active {
    color: black;
}

.menu span a {
    padding-top: 25px;
    padding-bottom: 20px;
}
