body {
   background-color: black;
}

.container {
    width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header" 
    "menu content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
}

.menu-content {
    grid-area: content;
}
